.lawyer-confirm,
.lawyer-cancel,
.lawyer-button-confirm,
.lawyer-button-cancel {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  margin-left: 0.5rem;
  /* Space between buttons */
}

.lawyer-confirm,
.lawyer-button-confirm {
  background-color: #15605C;
  /* Green background */
  color: white;
}

.lawyer-confirm,
.lawyer-button-confirm :hover {
  background-color: #104a48;
  /* Darker green on hover */
}

.lawyer-cancel,
.lawyer-button-cancel {
  background-color: #AEAEAE;
  color: white;
}

.lawyer-cancel-button,
.lawyer-button-cancel:hover {
  background-color: #868383;
}


.scan-document-btn {
  width: 225px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #595CFC;
  color: #fff;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.scan-document-btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.file-btn-container {
  display: flex;
  column-gap: 20px;
}

.excel-header {
  margin: 1rem 0;
  font-weight: 600;
}

/* Loader Styles */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}


.loader-container {
  position: relative;
  width: 100%;
  height: 100%;
}